@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

/* setting  universal properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/*formating the fonts*/

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/*design for header nav*/
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*Logo properties*/
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 5px;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    
}

/*Responsive adjustment for Experience*/
.experience {
    padding: 5rem 9%;
    background-color: black;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.experience-content {
    max-width: 600px;
    margin: 0 auto;
}

.experience-content img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.experience-content h2 {
    font-size: 3rem;
    color: #b74b4b;
    margin-bottom: 1rem;
}

.experience-content p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.responsibilities {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.responsibilities li {
    position: relative;
    padding-left: 2.5rem; 
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.4rem;
    
}

.responsibilities li::before {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #b74b4b; 
    border-radius: 50%; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
}

/*Responsive adjustments for education*/

.education {
    padding: 5rem 9%;
    background-color: black;
    color: white;
}

.education h1 {
    font-size: 4rem;
    color: #b74b4b;
    text-align: center;
    margin-bottom: 2rem;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

table, th, td {
    border: 2px solid #b74b4b;
}

th, td {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: white;
}

th {
    background-color: #b74b4b;
    font-weight: 700;
}

td {
    background-color: #161616;
    vertical-align: middle; /* Center content vertically */
}

/* Image styling */
td img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    display: block; /* Required for margin auto to work */
    margin: 0 auto; /* Center image horizontally */
}


/*Responsive adjustments for Projects page*/

.projects {
    padding: 5rem 9%;
    background-color: black;
    color: white;
}


/* Container for Project Item */
.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}


/* Project Image Styling */
.project-img img {
    width: 200px; 
    height: auto;
    border-radius: 8px;
    margin: 0 auto; 
    display: block; 
}


/* Project Details Styling */
.project-details {
    flex: 1;
}

.project-details h1,
.project-details h3,
.project-details p {
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 1rem; 
}


.description {
    font-size: 1.4rem;
    line-height: 1.6;
}


/* Social Icons Styling */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    color: #b74b4b;
    font-size: 1.6rem;
    border-radius: 50%;
    margin: 0.5rem;
    text-align: center;
    line-height: 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: black;
    background-color: #b74b4b;
    transform: scale(1.3);
}


/*Responsive adjustments for Contact me*/

.contact {
    padding: 5rem 9%;
    background-color: black;
    color: white;
    text-align: center;
}

.contact-info h2{
    font-size: 3rem;
    color: #b74b4b;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.contact-info a {
    color: #b74b4b;
    text-decoration: underline;
}

.contact-info .social-icons {
    margin-top: 2rem;
}

.contact-info .social-icons a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    color: #b74b4b;
    font-size: 1.6rem;
    border-radius: 50%;
    margin: 0.5rem;
    text-align: center;
    line-height: 3rem;
    transition: 0.3s ease;
}

.contact-info .social-icons a:hover {
    color: black;
    background-color: #b74b4b;
    transform: scale(1.3);
}


.form-container {
    max-width: auto;
    margin: 2rem auto;
}

/* Form Styling */
.contact-form {
    margin-top: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;
    padding: 1rem;
}

.contact-form label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: white;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid #b74b4b;
    background-color: #161616;
    color: white;
}

.contact-form button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.contact-form button:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

/*image proparties*/
.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 30vw;
    top: 30px;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

/*Social Meadia icons*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

/*Properties for Social media icons */
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

/*Typing text properties*/
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "App Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 25%{
        content: "Coding";
    }
    26%, 50%{
        content: "Web Developing";
    }
    51%, 75%{
        content: "App Developing";
    }
    76%, 100%{
        content: "Database";
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 60vw;
        margin-top: 4rem;
    }




/* General Reset for Education page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the Education section */

.education {
    padding: 5rem 9%;
    background-color: black;
    color: white;
}

.education h1 {
    font-size: 4rem;
    color: #b74b4b;
    text-align: center;
    margin-bottom: 2rem;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

table, th, td {
    border: 2px solid #b74b4b;
}

th, td {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: white;
}

th {
    background-color: #b74b4b;
    font-weight: 700;
}

td {
    background-color: #161616;
    vertical-align: middle; /* Center content vertically */
}

/* Image styling */
td img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    display: block; /* Required for margin auto to work */
    margin: 0 auto; /* Center image horizontally */
}



/* General Reset for Experience page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/* Styling for the Experience section */
.experience {
    padding: 5rem 9%;
    background-color: black;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.experience-content {
    max-width: 600px;
    margin: 0 auto;
}

.experience-content img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.experience-content h2 {
    font-size: 3rem;
    color: #b74b4b;
    margin-bottom: 1rem;
}

.experience-content p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.responsibilities {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.responsibilities li {
    position: relative;
    padding-left: 2.5rem; 
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.4rem;
    
}

.responsibilities li::before {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #b74b4b; 
    border-radius: 50%; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
}


/* General Reset for Projects page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/* Styling for the Projects section */
.projects {
    padding: 5rem 9%;
    background-color: black;
    color: white;
}


/* Container for Project Item */
.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}


/* Project Image Styling */
.project-img img {
    width: 200px; 
    height: auto;
    border-radius: 8px;
    margin: 0 auto; 
    display: block; 
}


/* Project Details Styling */
.project-details {
    flex: 1;
}

.project-details h1,
.project-details h3,
.project-details p {
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 1rem; 
}


.description {
    font-size: 1.4rem;
    line-height: 1.6;
}


/* Social Icons Styling */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    color: #b74b4b;
    font-size: 1.6rem;
    border-radius: 50%;
    margin: 0.5rem;
    text-align: center;
    line-height: 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: black;
    background-color: #b74b4b;
    transform: scale(1.3);
}






/* General Reset for Conatact me page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the Contact section */
.contact {
    padding: 5rem 9%;
    background-color: black;
    color: white;
    text-align: center;
}

.contact-info h2{
    font-size: 3rem;
    color: #b74b4b;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.contact-info a {
    color: #b74b4b;
    text-decoration: underline;
}

.contact-info .social-icons {
    margin-top: 2rem;
}

.contact-info .social-icons a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    color: #b74b4b;
    font-size: 1.6rem;
    border-radius: 50%;
    margin: 0.5rem;
    text-align: center;
    line-height: 3rem;
    transition: 0.3s ease;
}

.contact-info .social-icons a:hover {
    color: black;
    background-color: #b74b4b;
    transform: scale(1.3);
}


.form-container {
    max-width: auto;
    margin: 2rem auto;
}

/* Form Styling */
.contact-form {
    margin-top: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;
    padding: 1rem;
}

.contact-form label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: white;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid #b74b4b;
    background-color: #161616;
    color: white;
}

.contact-form button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.contact-form button:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

}